# SPDX-License-Identifier: Apache-2.0
# Lumen OS PUBLIC images only (image path /system/etc/init/z9x_blobs.rc; script
# /system/etc/z9x/z9x_blobs.sh 0755, allow-list /system/etc/z9x/blobs_allow.txt 0644, plus the six
# 0-byte Codec2 placeholders listed there, label system_lib_file; the image's xgimi_compat.rc is
# tools/ota/image/xgimi_compat_public.rc). See z9x_blobs.sh.
# exec at post-fs-data: after init.rc's part of the trigger (default mount namespace, APEXes active), so
# the bind over /apex/com.android.vndk.v34 is seen by every later service; the Codec2 / media services
# and audioserver / the vendor audio HAL start only after it returns ('on boot' and later).
# Cost: < 200 ms, <= 8 MiB tmpfs while it runs (about 1.2 MB kept).
on post-fs-data
    exec u:r:su:s0 root root -- /system/bin/sh /system/etc/z9x/z9x_blobs.sh
